* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  color: #000000;
  background: #FFFFFF;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

}



.navbar {
  background: #FFFFFF;
  padding: 20px 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  gap: 32px;
}



.btn-primary {
  background: #469165;
  padding: 16px 12px;
  border-radius: 8px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
}

.btn-primary:hover {
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.btn-outline {
  border: 2px solid #FFFFFF;
  padding: 16px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #FFFFFF;
  gap: 10px;
}

.small-btn {
  padding: 12px 8px;
  gap: 8px;
  background-color: #469165;
}



.hero {
  position: relative;
  height: 95vh;
  background: url("/assets/hero-bg.png") center/cover no-repeat #001931;
  background-image: #001931;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  padding: 120px 134px 70px;
  padding-left: 120px;
  padding-top: 70px;
  padding-right: 120px;
  padding-bottom: 134px;
}

.overlay {
  position: absolute;
  inset: 0;
}

.hero-content {
  position: relative;
  max-width: 850px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #FFFFFF;
  color: #469165;
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
}

.dot {
  width: 8px;
  height: 8px;
  background: #469165;
  border-radius: 8px;
}

.hero h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2;
  margin: 30px 0;
  color: #FFFFFF;
}

.hero h1 span {
  color: #30B868;
}

.hero p {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 16px 12px;
  padd
}



.notes {
  padding: 120px 0;
  text-align: center;
}

.notes h2 {
  font-size: 48px;
  margin-bottom: 15px;
  color: #001931;
}

.section-sub {
  color: #627382;
  margin-bottom: 70px;
  font-size: 16px;
}

.note-card p{
   font-size: 16px;
   color: #627382;
   line-height: 20px;
}

.note-card h3{
  font-size: 20px;
  margin-bottom: 15px;
  color: #001931;
}


.notes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.note-card {
  background: #FFFFFF;
  padding: 24px 24px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.04);
  transition: 0.3s ease;
}

.note-card:hover {
  box-shadow: 0 25px 50px rgba(0,0,0,0.08);
}

.icon-circle {
  width: 60px;
  height: 60px;
  background: #F95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 25px;
}

.icon-circle img {
  width: 32px;
  color: #FFFFFF;
}


.solution {
  padding: 120px 0;
}

.solution-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.small-title{
  color: #469165;
  line-height: 16px;
}

.solution-text h2{
  gap: 16px;
}

.solution-text p {
  color: #627382;
  line-height: 20px;
}

.solution-text ul {
  margin-top: 25px;
  list-style: none;
}

.solution-text li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.solution-text img {
  width: 18px;
  border-radius: 12px;
}


.cta {
  background: #F7F6F2;
  padding: 120px;
  text-align: center;
  gap: 40px;
}

h1 {
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 16px;
    color: #627382;
    margin-bottom: 30px;
}

.container p{
  color: #627382;
  line-height: 24px;
}

.btn {
    background-color: #469165;
    color: #FFFFFF;
    padding: 16px 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    
}

.note {
    margin-top: 20px;
    font-size: 14px;
    color: #6b7c8c;
}


.footer {
  background-color: #001931;
  color: #FFFFFF;
  padding: 50px 80px 20px;
  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 139px;
  height: 60px;
}

.logo h3 {
  margin: 0;
  font-size: 20px;
  color: #FFFFFF;
}


.footer-right h3 {
  margin-bottom: 15px;
  font-weight: normal;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: #FFFFFF;
  color: #000000;
  border-radius: 50%;
  text-decoration: none;
  font-size: 14px;
  gap: 16px;
}

.social-icons a:hover {
  background: #000000;
  color: #FFFFFF;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.2);
  font-size: 16px;
  color: #FAFAFA;
  gap: 30px;
}
